@import "tailwindcss";

:root {
	--background: #ffffff;
	--foreground: #333333;
	--main-color: #fabe00;
}

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--color-main: var(--main-color);
}

body {
	background: var(--background);
	color: var(--foreground);
}
